* {
    padding: 0;
    box-sizing: border-box;
  }

  h2 {
    margin: 8px;
    width: 15%;
  }

  img {
    width: 25%;
  }

  #all-players-container {
  
  }

  .player-card {
    display: flex;
    border: 4px solid black;
    margin-bottom: 12px;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.579);
  }

  button {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    color: #0d6efd;
    border-color: #0d6efd;
    margin-left: 16px;
  }

  #submit-button {
    background-color: #0d6efd;
    color: white;
    margin-bottom: 8px;
  }

  #delete-button {
    background-color: red;
    border-color: red;
    color: black;
  }

  form {
    margin: 8px;
  }